<div class="tree">
  <ul>
    <li *ngFor="let node of family.nodes">
      <div class="top">
        <span (click)="_leafSelected(node)" class="{{node.gender}}"
              [ngClass]="node.relationship ? node.relationship + '-leaf' : ''"
              class="node">{{node.name}}</span>
      </div>

      <ul>
        <li *ngFor="let child of family.children"
            [ngStyle]="{'width': _setWidth(child) ? '100%' : 'auto'}">
          <ft-leaf (onLeafSelected)="_leafSelected($event)" [child]="child">
          </ft-leaf>
        </li>
      </ul>
    </li>
  </ul>
</div>