<div class="tree" id="FamilyTreeDiv">

  <ul>

    <li>
      <div><span class="male">Joe Mighty
          1601 - 1681</span></div>
    </li>


    <li>
      <div>
        <span class="female">Sue Mighty
          1607 - 1685</span>
        <!-- <span class="spacer"></span> -->
      </div>
    </li>



    <li>
      <div>
        <span class="female">Sue Mighty
          1607 - 1685</span>
        <span class="spacer"></span>
        <!-- </div>
      <div> -->
        <span class="male">Jim
          Snow
          1633 - 1697</span>
      </div>


      <ul>

        <li>

          <div>
            <span class="male">Sam Snow
              1631 - 1695</span><span class="spacer"></span><span
                  class="female">Lily Sight
              1633 - 1697</span>
          </div>


          <ul>

            <li>
              <div><span class="male">Ralf Snow
                  1651 - </span></div>
            </li>


            <li>
              <div><span class="female">Brie Snow
                  1653 - </span></div>
            </li>

          </ul>

        </li>


        <li>

          <div><span class="male">Jim Snow
              1633 - 1697</span><span class="spacer"></span><span
                  class="female">Zoe Blue
              1633 - 1697</span></div>


          <ul>

            <li>
              <div><span class="male">Ralf Snow
                  1651 - </span><span class="spacer"></span><span
                      class="female">Sally Bern
                  1653 - </span></div>


              <ul>

                <li>
                  <div><span class="female">Magna Snow
                      1679 - </span></div>
                </li>

              </ul>
            </li>


            <li>
              <div><span class="female">Brie Snow
                  1653 - </span></div>
            </li>

          </ul>

        </li>


        <li>
          <div>
            <span class="male">
              John Snow
              1635 - 1699
            </span>
          </div>
        </li>

      </ul>
    </li>

    <li>
      <div>
        <span class="female">Sue Mighty
          1607 - 1685</span>
        <!-- <span class="spacer"></span> -->
      </div>

      <ul>
        <li>
          <div>
            <span class="female">Sue Mighty
              1607 - 1685</span>
            <!-- <span class="spacer"></span> -->
          </div>

          <ul>
            <li>
              <div>
                <span class="female">Sue Mighty
                  1607 - 1685</span>
                <!-- <span class="spacer"></span> -->
              </div>


            </li>
          </ul>
        </li>

        <li>
          <div>
            <span class="female">Sue Mighty
              1607 - 1685</span>
            <!-- <span class="spacer"></span> -->
          </div>

          <ul>
            <li>
              <div>
                <span class="female">Sue Mighty
                  1607 - 1685</span>
                <!-- <span class="spacer"></span> -->
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

</div>